* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: 'Poiret One', cursive;
  text-align: center;
  overflow-x: hidden;
  text-transform: uppercase;
}

page-container {
  width: 100%;
  display: flex;
  align-content: center;
}

  header {
    overflow: hidden;
    width: 95%;
    margin: 0 2.5%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: center;
  }

    .logo,
    .headers {
      margin: 2rem;
    }

    h1 {
      font-size: 3.5rem;
    }

    .logo {
      width: 5rem;
    }

    .hero-image {
      width: 100%;
      overflow: hidden;
    }

  .work-title {
    text-transform: uppercase;
    text-decoration: underline;
    text-align: center;
    font-size: 3rem;
    margin: 5% 0 4%;
    }

  .featured-work-container {
    text-transform: uppercase;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: space-around;
  }

    .project {
      font-size: 1rem;
      text-align: center;
      width: 340px;
      height: 275px;
    }

    .featured-work-container p {
      font-size: 1.5rem;
    }

    .featured-work-container img {
      border: solid 2px #808080;
      opacity: 0.75;
    }

    .featured-work-container img:hover {
      border: solid 2px #333;
      opacity: 1;
    }

  footer {
      margin-bottom: 3rem;
  }
    .social {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      font-size: 2.5rem;
    }

      .social-ico {
        width: 4rem;
        margin: 2rem 0;
      }

      a {
        color: #341558;
      }
      .social p {
        font-size: 1rem;
      }

@media only screen and (max-width: 900px) {

  header {
    overflow: hidden;
    width: 95%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-transform: uppercase;
    align-content: center;
  }

  .work-title {
      font-size: 2rem;
  }

  h1 {
    font-size: 2.5rem;
  }
}

@media only screen and (max-width: 699px) {
  .work-title {
      font-size: 1.5rem;
  }

  h1 {
    font-size: 2rem;
  }

  .logo {
    height: 5rem;
  }
}
